@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif;
  }

  .rdrDefinedRangesWrapper {
    display: none;
  }

  .pac-container {
    z-index: 10000 !important;
    pointer-events: auto !important;
  }

  .pac-item {
    cursor: pointer !important;
  }

  /* Add these new styles */
  .pac-container .pac-item:focus,
  .pac-container .pac-item:hover {
    background-color: #f3f4f6 !important;
  }

  .pac-container .pac-item-selected {
    background-color: #e5e7eb !important;
  }

  @media print {
    .no-print {
      display: none !important;
      /* Hide elements with this class */
    }
  }

  @media print {
    .no-border {
      border: none !important;
    }
  }

  h1 {
    font-size: 2.75rem;
    /* 44px */
    line-height: 1.2;
    font-weight: 700;
    margin: 1rem 0;
  }


  h2 {
    font-size: 2.25rem;
    /* 36px */
    line-height: 1.25;
    font-weight: 700;
    margin: 0.83em 0;
  }

  h3 {
    font-size: 1.875rem;
    /* 30px */
    line-height: 1.3;
    font-weight: 600;
    margin: 1em 0;
  }

  h4 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 1.35;
    font-weight: 600;
    margin: 1.33em 0;
  }

  h5 {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.4;
    font-weight: 600;
    margin: 1.67em 0;
  }

  h6 {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.4;
    font-weight: 600;
    margin: 2.33em 0;
  }

  p {
    font-family: 'Inter', sans-serif;
    margin: 1em 0;
  }


  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  /* body {
    @apply bg-background text-foreground;
  } */
}

/* Chrome, Safari, Edge, Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type='search']::-ms-clear {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-content {
    margin: 0;
    padding: 15px;
  }


}


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  /* made slightly thinner */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  /* Tailwind gray-200 - very light grey */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
  /* Tailwind gray-300 - slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}
